config/DTD/entityTypes_v1.0a4.dtd

<!ENTITY % representation SYSTEM "representation_v1.0a4.dtd" >
%representation;

<!ELEMENT entityTypes (entityType*)>
<!ATTLIST entityTypes
      version (1.0a4) #REQUIRED>
      
<!ELEMENT entityType (representation, implementationClass?)>
<!ATTLIST entityType 
      typeId CDATA #REQUIRED
      name CDATA #REQUIRED
      fixed CDATA #IMPLIED
      implementationClass CDATA #IMPLIED>
      
<!ELEMENT implementationClass ANY>

