config/DTD/environmentLayout_v1.0a4.dtd

<!ELEMENT environmentLayout (tileGrid, environment*)>
<!ATTLIST environmentLayout
	version (1.0a4) #REQUIRED>

<!ELEMENT tileGrid EMPTY>
<!ATTLIST tileGrid
	xSpacing CDATA #REQUIRED
	zSpacing CDATA #REQUIRED>

<!ELEMENT environment EMPTY>
<!ATTLIST environment
	id CDATA #REQUIRED
	configFile CDATA #REQUIRED
	xLoc CDATA #REQUIRED
	zLoc CDATA #REQUIRED>


