config/DTD/interactionCursorRepresentation_v1.0a4.dtd

<!ENTITY % representation SYSTEM "representation_v1.0a4.dtd" >
%representation;

<!ELEMENT interactionCursorRepresentation (idleModel, selectionModel?, manipulationModel?)>
<!ATTLIST interactionCursorRepresentation
	version (1.0a4) #REQUIRED>

<!ELEMENT idleModel (representation)>
<!ATTLIST idleModel>

<!ELEMENT selectionModel (representation)>
<!ATTLIST selectionModel>

<!ELEMENT manipulationModel (representation)>
<!ATTLIST manipulationModel>
